{% extends 'base.html.twig' %}

{% block title %}Formation index{% endblock %}

{% block body %}
    <h1>Formation index</h1>

  

    {{ form_start(form,{'attr': {'novalidate':'novalidate'}}) }} 
    {{ form_row(form.search) }}
    <button class="btn">{{ button_label|default('Search') }}</button>
    {{ form_end(form) }}



    {% for formation in formations %}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Nbh</th>
                <th>Nbl</th>
                <th>Path</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        <tr>
                <td>{{ formation.name }}</td>
                <td>{{ formation.nbh }}</td>
                <td>{{ formation.nbl }}</td>
                <td>{{ formation.path }}</td>
                <td>
                    <a href="{{ path('app_formation_show', {'idFormation': formation.idFormation}) }}">show</a>
                    <a href="{{ path('app_formation_edit', {'idFormation': formation.idFormation}) }}">edit</a>
                </td>
        </tr>  
            
            <tr>
                <td>Name</td>
                <td>Context</td>
                <td>actions</td>
            </tr>
            <tr><td> <h3> chapters link to {{formation.name}} </h3>  </td></tr>
           
            <tr><td><a href="{{ path('app_chapters_newLinkTo', {'id': formation.idFormation}) }}">Create new chapter </a></td> </tr>
        </tbody>
    </table>
    <br>
    <br>
    {% endfor %} 


    <a href="{{ path('app_formation_new') }}">Create new</a>


 {% endblock %}





