{% extends 'base.html.twig' %}

{% block title %}Offer index{% endblock %}

{% block body %}
    <h1> </h1>
    
    <!-- Jobs Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Job Listing</h1>
                <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
                    <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill" href="#tab-1">
                                <h6 class="mt-n1 mb-0">Featured</h6>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
                                <h6 class="mt-n1 mb-0">Full Time</h6>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
                                <h6 class="mt-n1 mb-0">Part Time</h6>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="job-item p-4 mb-4">
                            {% for offer in offers %}
                                <div class="row g-4">
                                    <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid border rounded" src={{asset("img/com-logo-1.jpg")}} alt="" style="width: 80px; height: 80px;">
                                        <div class="text-start ps-4">
                                            <h5 class="mb-3">{{offer.name}}</h5>
                                            <h6 class="mb-3">{{offer.description}}</h6>
                                            <h6 class="mb-3">{{offer.keywords}}</h6>
                                            <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
                                            <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>{{offer.duration}}</span>
                                            <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>{{offer.salary}}</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                        <div class="d-flex mb-3">
                                            <a class="btn btn-primary" href={{ path('app_offer_show', {'idOffer': offer.idOffer}) }}>Show</a>
                                        </div>
                                        <div class="d-flex mb-3">
                                            <a class="btn btn-secondary" href={{ path('app_offer_edit', {'idOffer': offer.idOffer}) }}> Edit </a>
                                        </div>
                                       
                                    </div>
                                    
                                    <br>
                                </div>
                                <br>
                              {% endfor %}  
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Jobs End -->


    <table class="table">
        <thead>
            <tr>
                <th>IdOffer</th>
                <th>Name</th>
                <th>Description</th>
                <th>Duration</th>
                <th>Keywords</th>
                <th>Salary</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offer in offers %}
            <tr>
                <td>{{ offer.idOffer }}</td>
                <td>{{ offer.name }}</td>
                <td>{{ offer.description }}</td>
                <td>{{ offer.duration }}</td>
                <td>{{ offer.keywords }}</td>
                <td>{{ offer.salary }}</td>
                <td>
                    <a href="{{ path('app_offer_show', {'idOffer': offer.idOffer}) }}">show</a>
                    <a href="{{ path('app_offer_edit', {'idOffer': offer.idOffer}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_offer_new') }}">Create new</a>
{% endblock %}
