{% extends 'base.html.twig' %}

{% block title %}Pass Test 111{% endblock %}

{% block body %}
<div class="container">
<div class="row">
<div class="col-md-12">
<h1 class="display-4 mb-4">{{ test.name }}</h1>
</div>
</div>
<div class="row">
<div class="col-md-12">
<form method="post" action="{{ path('app_submit_answers', {'id': test.idTest}) }}">
{% for question in questions %}
<div class="card mb-4">
<div class="card-body">
<h3 class="card-title">{{ question.quest }}</h3>
<div class="form-check mb-2">
<input class="form-check-input" type="radio" name="answer_{{ question.idQuestion }}" id="answer_{{ question.idQuestion }}_1" value="{{ question.choice1 }}">
<label class="form-check-label" for="answer_{{ question.idQuestion }}_1">
{{ question.choice1 }}
</label>
</div>
<div class="form-check mb-2">
<input class="form-check-input" type="radio" name="answer_{{ question.idQuestion }}" id="answer_{{ question.idQuestion }}_2" value="{{ question.choice2 }}">
<label class="form-check-label" for="answer_{{ question.idQuestion }}_2">
{{ question.choice2 }}
</label>
</div>
<div class="form-check mb-2">
<input class="form-check-input" type="radio" name="answer_{{question.idQuestion}}" id="answer_{{ question.idQuestion}}_3" value="{{ question.choice3 }}">
<label class="form-check-label" for="answer_{{ question.idQuestion }}_3">
{{ question.choice3 }}
</label>
</div>
</div>
</div>
{% endfor %}
<div class="form-group text-center">
<button type="submit" class="btn btn-primary btn-lg rounded-pill px-5">Submit</button>
</div>
</form>
</div>
</div>
</div>
{% endblock %}