{% extends 'base.html.twig' %}

{% block title %}
  Commentairegrppost index
{% endblock %}

{% block body %}
  {# <h1>
    Commentairegrppost index
  </h1> #}
        <section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">

              {% for commentairegrppost in commentairegrpposts %}
          
               <div class="comments-area">
                  <div class="comment-list">
                     <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           <div class="thumb">
                              <img src="../assets/img/comment/comment_1.png" alt="">
                           </div>
                           <div class="desc">
                              <p class="comment">
                                  {{ commentairegrppost.context }}
                              </p>
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       <a href="#">Emilly Blunt</a>
                                    </h5>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                 </div>
                        <a href="{{
    path(
      'app_commentairegrppost_new',
      {
     
        idgrppost: commentairegrppost.Idgrppost
      }
    )
    }}">
    Create new
  </a>
                                 {# <div class="reply-btn">
                                    <a href="#" class="btn-reply text-uppercase">reply</a>
                                 </div> #}
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
              {% endfor %}
                  
                  </div>
         </div>
      </div>
   </section>
                 
            
{# 
  <table class="table">
    <thead>
      <tr>
        <th>
          Id
        </th>
        <th>
          Context
        </th>
        <th>
          actions
        </th>
      </tr>
    </thead>
    <tbody>
      {% for commentairegrppost in commentairegrpposts %}
        <tr>
          <td>
            {{ commentairegrppost.id }}
          </td>
          <td>
            {{ commentairegrppost.context }}
          </td>
          <td>
            <a href="{{
              path(
                'app_commentairegrppost_show',
                {
                  id: commentairegrppost.id
                }
              )
              }}">
              show
            </a>
            <a href="{{
              path(
                'app_commentairegrppost_edit',
                {
                  id: commentairegrppost.id
                }
              )
              }}">
              edit
            </a>
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="3">
            no records found
          </td>
        </tr>
    </tbody>
  </table> #}

 
{% endblock %}
