{% extends 'base.html.twig' %}

{% block title %}Achievement{% endblock %}

{% block body %}
    <h1>Achievement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdAchivement</th>
                <td>{{ achievement.idAchivement }}</td>
            </tr>
            <tr>
                <th>IdFreelancer</th>
                <td>{{ achievement.idFreelancer }}</td>
            </tr>
            <tr>
                <th>IdOffer</th>
                <td>{{ achievement.idOffer }}</td>
            </tr>
            <tr>
                <th>Rate</th>
                <td>{{ achievement.rate }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_achievement_index') }}">back to list</a>

    <a href="{{ path('app_achievement_edit', {'idAchivement': achievement.idAchivement}) }}">edit</a>

    {{ include('achievement/_delete_form.html.twig') }}
{% endblock %}
