{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mb-4">Task</h1>

            <table class="table">
                <tbody>
                    {# <tr>
                        <th>Id</th>
                        <td>{{ task.id }}</td>
                    </tr> #}
                    <tr>
                        <th>Title</th>
                        <td>{{ task.title }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ task.description }}</td>
                    </tr>
                    <tr>
                        <th>Deadline</th>
                        <td>{{ task.deadline ? task.deadline|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Completed</th>
                        <td>{{ task.completed ? 'Yes' : 'No' }}</td>
                    </tr>
                </tbody>
            </table>
            <a href="{{ path('app_workspace_homews',{'id': workspaceId})}}" class="btn btn-primary mb-4">Back to List</a>
            <br>
            {# <a href="{{ path('app_task_edit', {'id': task.id}) }}">edit</a> #}

            <br>
            {% if (task.completed != 'Yes') %}
                <a href="{{ path('app_task_setTrue', {'id': task.id,'workspaceId':workspaceId}) }}" class="btn btn-success mb-4">Mark Completed</a>
            {% endif %}

            {{ include('task/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
