{% extends 'base.html.twig' %}

{% block title %}Badge index{% endblock %}

{% block body %}
    <h1>Badge index</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">IdBadge</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Image</th>
                    <th scope="col">ID test</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% if badges is not empty %}
                {% for badge in badges %}
                    <tr>
                        <td>{{ badge.idBadge }}</td>
                        <td>{{ badge.name }}</td>
                        <td>{{ badge.type }}</td>
                        <td>{{ badge.image }}</td>
                        <td>{{ badge.idTest }}</td>
                        <td>
                            <a href="{{ path('app_badge_show', {'idBadge': badge.idBadge}) }}" class="btn btn-sm btn-outline-secondary">Show</a>
                            <a href="{{ path('app_badge_edit', {'idBadge': badge.idBadge}) }}" class="btn btn-sm btn-outline-secondary">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6">No records found.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    <a href="{{ path('app_badge_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
