{% extends 'base.html.twig' %}

{% block title %}Badge index{% endblock %}

{% block body %}
    <h1>Badge index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdBadge</th>
                <th>Name</th>
                <th>Type</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for badge in badges %}
            <tr>
                <td>{{ badge.idBadge }}</td>
                <td>{{ badge.name }}</td>
                <td>{{ badge.type }}</td>
                <td>{{ badge.image }}</td>
                <td>
                    <a href="{{ path('app_badge_show', {'idBadge': badge.idBadge}) }}">show</a>
                    <a href="{{ path('app_badge_edit', {'idBadge': badge.idBadge}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_badge_new') }}">Create new</a>
{% endblock %}
