{% extends 'base.html.twig' %}

{% block title %}Candidacy index{% endblock %}

{% block body %}

<!-- How  Apply Process Start-->
<div class="apply-process-area apply-bg pt-150 pb-150" data-background={{asset("assets/img/gallery/how-applybg.png")}}>
    <div class="container">
        <!-- Section Tittle -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle white-text text-center">
                    <span>All candidacies</span>
                    <h2>You find here all candidacies</h2>
                </div>
            </div>
        </div>
        <!-- Apply Process Caption -->

    </div>
</div>
<!-- How  Apply Process End-->
<!-- Testimonial Start -->


<div class="testimonial-area testimonial-padding">

    <div class="container">

        <!-- Testimonial contents -->
        <div class="row d-flex justify-content-center">
            <div class="col-xl-8 col-lg-8 col-md-10">
                <div class="h1-testimonial-active dot-style">
                    <!-- Single Testimonial -->
                    <div class="single-testimonial text-center">
                        <!-- Testimonial Content -->
                        <div class="testimonial-caption ">
                            <!-- founder -->

                            <div class="testimonial-founder  ">
                                <div class="founder-img mb-30">
                                    {% for candidacy in candidacies %}
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src={{asset("assets/img/testmonial/testimonial-founder.png")}} alt="">
                                        </div>
                                        <div class="col-md-7 mt-sm-20">
                                            <span>{{candidacy.object}}</span>
                                            <span>{{candidacy.message}}</span>
                                            {% if candidacy.accepted == 0 %}
                                            <a href="#" class="genric-btn danger circle">Refused</a>
                                            {% else %}
                                            <a href="#" class="genric-btn success circle">Accepted</a>
                                            {% endif %}

                                        </div>
                                        <div class="col-md-2">
                                            <a href="{{ path('app_candidacy_show', {'idCandidacy': candidacy.idCandidacy}) }}"
                                                class="genric-btn primary circle">show</a>
                                            <br><br>
                                            <a href="{{ path('app_candidacy_edit', {'idCandidacy': candidacy.idCandidacy}) }}"
                                                class="genric-btn warning circle">edit</a>

                                        </div>

                                    </div>
                                    <br><br>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="button-group-area mt-10">
                    <a href={{path('app_candidacy_new')}} class="genric-btn primary-border">Create Candidacy</a>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Testimonial End -->

<!-- Testimonial Start -->
<!--
<div class="container">
    <h1 class="text-center mb-5">List of candidacy!!!</h1>
    
    <div class="testimonial-item bg-light rounded p-4">
        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
        {% for candidacy in candidacies %}
        <p>{{candidacy.message}}</p>
        <div class="d-flex align-items-center">
            <img class="img-fluid flex-shrink-0 rounded" src={{asset("img/testimonial-2.jpg")}}
                style="width: 50px; height: 50px;">
            <div class="ps-3">
                <h5 class="mb-1">{{candidacy.object}}</h5>
                {% if candidacy.accepted == 0 %}
                <small>Refused</small>
                {% else %}
                <small>Accepted</small>
                {% endif %}

            </div>
        </div>
    </div>
    {% endfor %}

</div>
-->
<!-- Testimonial End -->

{% endblock %}