{% extends 'base.html.twig' %}

{% block title %}UserFormation index{% endblock %}

{% block body %}
    <h1> Les Formation Favoris</h1>

      <div class="row" id="start">
    {% for formation in a %}
    <div class="col-4">


      <div class="card">

  <div class="card-header">
    <h2>Formation {{formation.name}}</h2>
    <p>Number of Hours: {{formation.nbh}}</p>
  </div>

  <div class="card-body">
    <h3>Number of Lesson</h3>
    <p> {{ formation.nbl}} </p>
  </div>

  <div class="card-footer">
   <button class="details-btn">
   <a href={{ path('app_chapters_link_to_formation',{'idFormation': formation.idFormation}) }}> 
  Show Details</a>
    </button>
  </div>

</div>

    </div>
     <div class="col-2"></div>
     {% endfor %} 
    </div>

    <script src="{{ asset('https://code.jquery.com/jquery-3.5.1.min.js') }}"></script>

    <script>
  
  function myFunction() {
    
  }

    </script>

    
{% endblock %}